a.out
.vscode/
Lista_1_e_2/main
Lista_1_e_2/main.dSYM/
Lista_3_e_4/main
Lista_3_e_4/main.dSYM
.DS_Store
Vetores_e_funcoes/main.dSYM
Vetores_e_funcoes/main
2o-semestre/Ex2/main.dSYM/
2o-semestre/Ex2/main
2o-semestre/Ex3/main.dSYM/
2o-semestre/Ex3/main
2o-semestre/Cap7/cap7
2o-semestre/Cap7/cap7.dSYM/
2o-semestre/Cap 9/cap9
2o-semestre/Cap 9/cap9.dSYM/Contents/Info.plist
2o-semestre/Cap 9/cap9.dSYM/Contents/Resources/DWARF/cap9
2o-semestre/Cap 9/cap9.dSYM/Contents/Resources/Relocations/x86_64/cap9.yml
Desafio2.dSYM/Contents/Resources/Relocations/x86_64/Desafio2.yml
Desafio2.dSYM/Contents/Resources/DWARF/Desafio2
Desafio2.dSYM/Contents/Info.plist
2o-semestre/Cap8/cap8.dSYM/Contents/Resources/Relocations/x86_64/cap8.yml
2o-semestre/Cap8/cap8.dSYM/Contents/Resources/DWARF/cap8
2o-semestre/Cap8/cap8.dSYM/Contents/Info.plist
2o-semestre/Cap8/cap8
filmes.dat
Desafio2
