a.out
.vscode/
Lista_1_e_2/main
Lista_1_e_2/main.dSYM/
Lista_3_e_4/main
Lista_3_e_4/main.dSYM
.DS_Store
Vetores_e_funcoes/main.dSYM
Vetores_e_funcoes/main
2o-semestre/Ex2/main.dSYM/
2o-semestre/Ex2/main
2o-semestre/Ex3/main.dSYM/
2o-semestre/Ex3/main
2o-semestre/Cap7/cap7
2o-semestre/Cap7/cap7.dSYM/